HelloService.wsdl

<?xml version="1.0"?>
<definitions name="HelloService"

targetNamespace="http://127.0.0.1:9999/HelloService.wsdl"
          xmlns:tns="http://127.0.0.1:9999/HelloService.wsdl"
          xmlns:xsd1="http://127.0.0.1:9999/HelloService.xsd"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
       <schema targetNamespace="http://127.0.0.1:9999/HelloService.xsd"
              xmlns="http://www.w3.org/2000/10/XMLSchema">
           <element name="TradePriceRequest">
              <complexType>
                  <all>
                      <element name="tickerSymbol" type="string"/>
                  </all>
              </complexType>
           </element>
           <element name="TradePrice">
              <complexType>
                  <all>
                      <element name="price" type="float"/>
                  </all>
              </complexType>
           </element>
       </schema>
    </types>

    <message name="GetLastTradePriceInput">
        <part name="body" element="xsd1:TradePriceRequest"/>
    </message>

    <message name="GetLastTradePriceOutput">
        <part name="body" element="xsd1:TradePrice"/>
    </message>

    <portType name="HelloServicePortType">
        <operation name="GetLastTradePrice">
           <input message="tns:GetLastTradePriceInput"/>
           <output message="tns:GetLastTradePriceOutput"/>
        </operation>
    </portType>

    <binding name="HelloServiceSoapBinding" type="tns:HelloServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetLastTradePrice">
           <soap:operation soapAction="http://127.0.0.1:9999/GetLastTradePrice"/>
           <input>
               <soap:body use="literal"/>
           </input>
           <output>
               <soap:body use="literal"/>
           </output>
        </operation>
    </binding>

    <service name="HelloServiceService">
        <documentation>My first service</documentation>
        <port name="HelloServicePort" binding="tns:HelloServiceSoapBinding">
           <soap:address location="http://127.0.0.1:9999/HelloService"/>
        </port>
    </service>

</definitions>